<h1>動画アップロード画面</h1>
<%= form_with(model: @video, local: true) do |form| %>
  <% if @video.errors.any? %>
    <% @video.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.file_field :video %><br>
    <%= form.label :自分のチーム名 %><br>
    <%= form.collection_select :team1_id, Team.all, :id, :name, :prompt => "選択してください"%><br>
    <%= form.label :対戦相手のチーム名 %><br>
    <%= form.collection_select :team2_id, Team.all, :id, :name, :prompt => "選択してください"%><br>
  </div>
  <div class="actions">
    <%= form.submit("Upload File", class: "btn btn-primary btn-lg") %>
  </div>
<% end %>