<h5 class="heading my-1">動画アップロード画面</h5>

<div class="container">
  <%= form_error_messages(@video) %>

  <%= form_with(model: @video, local: true) do |form| %>

    <div class="form-group text-center">
      <label for="video_video" class="upload-btn"><br>動画を選択<br><br></label>
      <%= form.file_field :video, direct_upload: true,  class: "hidden" %>
    </div>

    <div class="form-group">
      <%= form.label :team1_id %>
      <%= form.collection_select :team1_id, Team.all, :id, :name, {:prompt => "選択してください"}, {class:"form-control"} %>
    </div>

    <div class="form-group">
      <%= form.label :team2_id %>
      <%= form.collection_select :team2_id, Team.all, :id, :name, {:prompt => "選択してください"}, {class:"form-control"} %>
    </div>

    <div class="form-group">
      <%= form.label :date %><br>
      <%= form.date_select :date ,{use_month_numbers: true}, {class:"form-control select-date"} %>
    </div>

    <div class="text-center">
      <%= form.submit("アップロード", class: "btn btn-primary btn-lg") %>
    </div>

  <% end %>
  <br>
</div>
