<ul>
<% if user_signed_in? %>
  <li><%= link_to "ユーザー編集", edit_line_user_path(current_user.id) %></li>
  <li><%= link_to "ログアウト", destroy_user_session_path %></li>
  <li><%= link_to "動画一覧",videos_path %></li>
  <li><%= link_to "動画アップロード", new_video_path %></li>
  <li><%= link_to "チャット一覧", rooms_path %></li>
  <br>
  <% if current_user.image.attached? %>
    <%= current_user.fullname %>
    <%= image_tag(current_user.image, width:100) %>
  <% end %>
<% else %>
  <li><%= link_to "メールアドレス会員登録", new_user_registration_path %>
  <li><%= link_to "メールアドレスログイン", new_user_session_path %>
  <li><%= link_to "LINE会員登録/ログイン", user_line_omniauth_authorize_path %></li>
<% end %>
</ul>
