<h5 class="heading">CHAT</h5>

<div class="container">
  <div class="media">
    <%= image_tag(current_user.image, width:80, class:"mr-3") %>
    <div class="media-body">
      <h5 class="mt-1"><%= current_user.fullname %></h5>
    </div>
  </div>
  <hr><small><%= @list_name %></small><hr>
  <% @team_users.each do |team_user| %>
    <div class="">
      <%= link_to find_room_path(team_user), class:"" do %>
        <div class="media">
          <%= image_tag(team_user.image, width:70, class:"mr-3") %>
          <div class="media-body">
            <h5 class="mt-1"><%= team_user.fullname %></h5>
            <p class="mb-0 text-truncate" style="max-width:250px;"><%= last_message(team_user.id) %></p>
          </div>
        </div>
      <% end %>
      <hr>
    </div>
  <% end %>
</div>