<h1>ユーザー編集画面</h1>
<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with(model: @user, url:  line_user_path(@user), local: true) do |form| %>
  <div class="form-group">
    <%= form.label :姓　 %> :<%= form.text_field :last_name %>
    <%= form.label :名　 %> :<%= form.text_field :first_name %><br>
    <%= form.label :セイ %> :<%= form.text_field :kana_last_name %>
    <%= form.label :メイ %> :<%= form.text_field :kana_first_name %><br>

    <%= form.label :表示名 %><br>
    <%= form.text_field :display_name %><br>
    
    <%= form.label :メールアドレス %><br>
    <%= form.text_field :email %><br>

    <%= form.label :所属チーム名 %><br>
    <%= form.collection_select :team_id, Team.all, :id, :name, :prompt => "選択してください" %><br>
    <%= form.submit("変更する", class: "btn") %>
  </div>

<% end %>
